﻿<div class="well well-sm">
    <h1>Test websites responce for sitemap of requested URL</h1>
</div>
<div class="form-group">
    <label class="col-md-4">Type URL and hit "Start" button</label>
    <div class="col-md-4">
        <input class="form-control" , placeholder="URL address" id="urlInput" />
    </div>
    <div class="col-md-2">
        <a href='#' class="btn btn-primary" id="startButton">
            <span class="glyphicon glyphicon-road"></span> Start
        </a>
    </div>
</div>

<br /><br />
<div id="responsResult"></div><br />
<div id='loading'>
    Please wait... It will take some time. <img src="~/Content/ajax-loader.gif" />
</div>
<br />
<canvas id="myChart" width="400" height="400"></canvas>
<br />

<div id="tableResults"></div>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/Custom/GetResponse.js"></script>
<script src="~/Scripts/Custom/GetAllData.js"></script>
<script src="~/Scripts/Custom/CreateTable.js"></script>
<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/Custom/CreateChart.js"></script>